doctype html
html
  head
    title Chat
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(src='/javascripts/chat.js')
  body
    h1 Chat
    if User
      h4=User.username
      div(class="message_container")
        each message in Message_list
          div
            div(class="speaker")=message.owner
            div(class="time")=message.time
          div(class="message")=message.content
      form(method='POST' action='/chat')
        input(type='text' placeholder='say something...' name='message' required='true' )
        input(type='hidden' name="owner" value=User.username)
        button(type='submit' class='send_button') send
      a(href='/logout') Log out
    else 
      h4 Not log-in
      a(href='/login') Log in